<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="../../assets/img/logo.png" alt="" width="150" height="58">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active fw-bold" routerLink="/marvel">Marvel</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active fw-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Más de Marvel
                        <span class="badge bg-danger">2</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://es.wikipedia.org/wiki/Universo_cinematogr%C3%A1fico_de_Marvel" target="_blank">Más información de Marvel</a></li>
                        <li><a class="dropdown-item" href="https://www.marvel.com/" target="_blank">Web Oficial</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" routerLink="/listaPeliculas">Lista de Películas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold" routerLink="/listaSeries">Lista de Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Acceso Privado</a>
                </li>
            </ul>
            <form class="d-flex">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Iniciar sesión</button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Email y Contraseña</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label for="floatingInput">Email</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Contraseña</label>
                                    </div>
                                </form>
                                <p class="nologin mt-3 text-black">¿Todavía no te has creado una cuenta? <a href="" class="alert-link text-primary">Regístrate ya.</a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-success" onclick="location.href=''">Iniciar sesión</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>