<div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-12 text-center text-black text-decoration-underline">
        <h2>Detalle de la Película</h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col-4 col-md-4 col-lg-4 text-center">
        <h2>Titulo</h2>
    </div>
    <div class="col-4 col-md-4 col-lg-4 text-center">
        <h2>Fase</h2>
    </div>
    <div class="col-4 col-md-4 col-lg-4 text-center">
        <h2>Fecha</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <h2>Imagen</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-12 col-lg-12 text-center">
        <h2>Descripción</h2>
    </div>
</div>

