<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-12 col-lg-12">
            <h2 class="text-center text-black text-decoration-underline fw-bold">Detalle de la Película</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <button type="button" class="btn btn-primary" (click)="editarPelicula()">Editar</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4 col-md-4 col-lg-4">
            <h2 class="text-center text-black">{{title}}</h2>
        </div>
        <div class="col-3 col-md-4 col-lg-4">
            <h2 class="text-center text-black">{{release_date | fasePelicula}}</h2>
        </div>
        <div class="col-5 col-md-4 col-lg-4">
            <h2 class="text-center text-black">{{release_date}}</h2>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-6">
                <img src="{{cover_url}}" class="img-fluid imgCards mx-auto mt-4" alt="" style="width: 80%;">
            </div>
            <div class="col-12 col-md-6 col-lg-6" *ngIf="editar===true">
                <div class="form text-center">
                    <div class="mb-3">
                        <label for="titulo" class="form">Titulo:</label>
                        <br/>
                        <input type="text" [(ngModel)]="peliculaSeleccionada.title" placeholder="Iron Man"/>
                    </div>
                    <div class="mb-3">
                        <label for="lanzamiento" class="form">Año lanzamiento:</label>
                        <br/>
                        <input type="text" [(ngModel)]="peliculaSeleccionada.release_date" placeholder="2020-01-01"/>
                    </div>
                    <div class="mb-3">
                        <label for="sinopsis" class="form">Sinopsis:</label>
                        <br/>
                        <input type="text" [(ngModel)]="peliculaSeleccionada.overview" placeholder="Sinopsis de la película"/>
                    </div>
                    <div class="mb-3">
                        <label for="poster" class="form">Póster:</label>
                        <br/>
                        <input type="text" [(ngModel)]="peliculaSeleccionada.cover_url" placeholder="Póster de la película"/>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="modificarPelicula(id, peliculaSeleccionada)" [routerLink]="['/listaPeliculas']">Modificar</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 col-md-10 col-lg-10">
                <h4 class="text-black">{{(overview.trim().length > 300 && isClose)? (overview | slice:0:300)+'...':(overview)}}</h4>
            </div>
            <div class="col-2 col-md-2 col-lg-2">
                <button class="btn btn-primary" type="button" (click)="onClick()">
                    {{isClose ? 'Ver más' : 'Ver menos'}}
                </button>   
            </div>
        </div>
    </div>
</div>
<br/>