<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12">
            <h2 class="text-center text-black text-decoration-underline fw-bold">Añadir Película</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center text-black">
            <label for="titulo" class="form-label">Título:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto">
            <input type="text" class="text-black" id="titulo" placeholder="Iron Man">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center text-black">
            <label for="fecha" class="form-label">Fecha:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto">
            <input type="text" class="text-black" id="fecha" placeholder="2015">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center text-black">
            <label for="sinopsis" class="form-label">Sinopsis:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto">
            <input type="sinopsis" class="text-black" id="sinopsis" placeholder="Sinopsis de la película">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center text-black">
            <label for="poster" class="form-label">Poster:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto mx-auto">
            <input type="poster" class="text-black" id="poster" placeholder="Poster de la película">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-12 col-lg-12 text-center">
            <button type="button" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/>