.teclado {
    padding-top: 20px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.teclado div {
    padding: 5px;
}

.tablero {
    font-size: 50px;
    letter-spacing: 6pt;

}

.game {
    padding-top: 100px;
}

.stats {
    margin-top: 10px;
}