<div class="row mx-auto">
    <div class="col-4 col-md-4 col-lg-4">
        <div class="card border-primary">
            <img src="../../assets/img/cherry.png" alt="" width="30%" class="mx-auto">
            <div class="card-body">
                <h5 class="card-title text-center text-black">CHERRY</h5>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-4 col-lg-4">
        <div class="card border-primary">
            <img src="../../assets/img/coconut.png" alt="" width="30%" class="mx-auto">
            <div class="card-body">
                <h5 class="card-title text-center text-black">COCONUT</h5>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-4 col-lg-4">
        <div class="card border-primary">
            <img src="../../assets/img/banana.png" alt="" width="30%" class="mx-auto">
            <div class="card-body">
                <h5 class="card-title text-center text-black">BANANA</h5>
            </div>
        </div>
    </div>
</div>